altair_saver==0.5.0
altair_viewer==0.4.0
anywidget==0.6.3
AppKit==0.2.8
astor==0.8.1
async_generator==1.10
atheris==2.3.0
BeautifulSoup==3.2.2
bjoern==3.2.2
bokeh==3.2.2
boto3==1.28.39
botocore==1.31.39
brotli==1.0.9
brotlicffi==1.0.9.2
cchardet==2.1.7
chart_studio==1.1.0
Cheetah==2.4.4
cherrypy==18.8.0
ConfigParser==6.0.0
contextlib2==21.6.0
coverage==7.3.0
cryptography==41.0.3
css_inline==0.10.5
ctypes_snappy==1.03
curio==1.6
cycler==0.11.0
Cython==3.0.2
cytoolz==0.12.2
dask==2023.8.1
defusedxml==0.7.1
diesel==3.0.24
Django==4.2.4
dl==0.1.0
docutils==0.20.1
eventlet==0.33.3
fastparquet==2023.8.0
flup==1.0.3
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.6.0
genapi==0.0.8
gevent==23.7.0
gitdb_speedups==0.1.0
gunicorn==21.2.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.83.0
ipython==8.15.0
ipywidgets==8.1.0
isoduration==20.11.0
jedi==0.19.0
jnius==1.1.0
JPype1==1.4.1
jsonpointer==2.4
keyring==24.2.0
lockfile==0.12.2
Mako==1.2.4
matplotlib==3.7.2
meinheld==1.0.2
mock==5.1.0
mtrand==0.1
mypy==1.5.1
numarray==1.5.1
Numeric==24.2
numexpr==2.8.5
odfpy==1.4.1
olefile==0.46
PasteScript==3.3.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.16.1
psutil==5.9.5
py==1.11.0
pycares==4.3.0
pycurl==7.45.2
pydantic==2.3.0
PyInstaller==5.13.2
pylint==2.17.5
pyOpenSSL==23.2.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
PyQt6==6.5.2
PySide2==5.15.2.1
PySide6==6.5.2
pytest==7.4.0
python-socketio==5.8.0
pyxlsb==1.0.10
PyYAML==6.0.1
qtpy==2.4.0
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
s3fs==2023.6.0
scikit_learn==1.3.0
scipy==1.11.2
sets==0.3.2
setuptools_scm==7.1.0
simplejson==3.19.1
snowflake==0.0.4
speedups==1.2.0
Sphinx==7.2.5
SQLAlchemy==2.0.20
sympy==1.12
tables==3.8.0
testbench==0.1.2
threadpoolctl==3.2.0
traitlets==5.9.0
trove_classifiers==2023.8.7
trustme==1.1.0
truststore==0.7.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
vegafusion==1.4.0
waitress==2.1.2
webcolors==1.13
win_inet_pton==1.1.0
xarray==2023.8.0
xlrd==2.0.1
xlsxwriter==3.1.2
xmlrpclib==1.0.1
zstandard==0.21.0
